.container-home {
    padding: 0 10px;
    min-height: calc(100vh - 85px - 228px);
}

.container-cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    min-height: calc(100vh - 125px - 104px);
}